<header>
   <% if logged_in? %>
     <%= link_to 'Your tasks', tasks_url%>
     <%= current_user.name %>
     <%= link_to 'My profile', users_path(current_user) %>
     <%= link_to 'Logout', logout_path, method: :delete %>
   <% else %>
      <a href="/">Microposts</a>
      <%= link_to "Signup", signup_path %>
      <%= link_to "Login", login_path%>
   <% end %>
</header>
